/*I did the wireframe in figma and I choose this 3 colors for my project. Whit that I created a varivel with this colors*/
:root {
  --yellow: rgb(210, 158, 53, 0.7);
  --white: rgb(249, 245, 241);
  --color: rgb(243, 239, 231, 0.8);
}

/*Select all the elements*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Added same font-size in all body*/
body {
  font-family: "Inter", sans-serif;
  background-color: var(--white);
  width: 100vw;
}
/*Header of the page contain logo and navbar*/
header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo {
  margin-left: 50px;
}

/*Ordinary list, it wil be the nav bar in the website, I styled to the right, color black when hover it I put a underline and added color*/
header .headernav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
}
li a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.7);
}
/*I did an interaction with a navbar. When pass your mouse it will come throught the var color and a line on the bottom */
li a:hover {
  color: var(--yellow);
  text-decoration: underline;
  transition: 1s;
}
hr {
  border: 1px dotted rgb(208, 143, 15);
  width: 30%;
  margin-top: 100px;
}

/*Define main pardo of the website*/
main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}
/*First id select h1, h2 and image and I used display flex in row*/
#presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  align-content: flex-start;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

h1 {
  text-align: left;
  color: rgb(0, 0, 0, 0.7);
  font-size: 40px;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  color: rgb(0, 0, 0, 0.7);
  font-size: 20px;
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 30px;
}
/*button styling*/
.text a {
  border: 1px solid var(--yellow);
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  display: block;
  color: var(--yellow);
  font-size: 20px;
  background: rgb(208, 143, 15, 0.3);
  padding: 20px 60px;
  margin-top: 65px;
  width: fit-content;
  text-decoration: none;
}
.text a:hover {
  background-color: var(--yellow);
  color: var(--white);
  transition: all 200ms ease-in-out;
}

/*This class I put image and paragraf in a row using flex*/
.me {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0 auto;
}
.mylife {
  text-align: left;
  margin-left: 220px;
  line-height: 1.8;
}
/*I changed the image size because it was enourmes*/
.myimage {
  max-width: 20%;
  border-radius: 50%;
  margin-right: 250px;
  margin-left: 70px;
}
h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
  color: var(--yellow);
}
a {
  text-decoration: none;
}

#work {
  width: 100vw;
  height: 100%;
}
/*I style the work content in grid, creating two rows and two columns. first row it will be the biggest one and the second I divided in two sections*/
.projects-grid {
  margin: 100px auto;
  display: grid;
  width: 80vw;
  gap: 40px;
  /* background-color: pink; */
  justify-content: center;
  align-items: center;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "Frontend Frontend"
    "cardone cardtwo";
}
/*This section it wil be the first one and the biggest one. It has box shadow and when you pass the mouse it will hover with color and text. It is linked to my github page*/
.card-main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 60px;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  background-color: var(--color);
  grid-area: Frontend;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-main:hover .coming-soon {
  opacity: 1;
}
.coming-soon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--yellow);
}

.card-main h3 {
  margin-bottom: 20px;
}
.workp {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*Second section of grid*/
.card-one {
  background-color: var(--color);
  grid-area: cardone;
  width: 100%;
  height: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-one:hover .cardonehover {
  opacity: 1;
}
.cardonehover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--yellow);
}
/*Third Section of the grid*/
.card-two {
  width: 100%;
  padding: 30px;
  background-color: var(--color);
  grid-area: cardtwo;
  position: relative;
  cursor: pointer;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-two:hover .card-two-hover {
  opacity: 1;
}
.card-two-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--yellow);
}
.work {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.card-main-image {
  display: flex;
  justify-content: center;
}
.card-main-image:hover .workp {
  opacity: 1;
}
.card-image {
  display: flex;
  justify-content: center;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/*Define footer on the page*/
footer {
  margin: 0 auto;
  background-color: var(--yellow);
  width: 100%;
  padding-top: 5px;
  /* background-color: pink; */
}
.contactme {
  display: flex;
  justify-content: center;
  /* bac[kground-color: blue; */
}

.lk,
.bh,
.tw,
.git {
  margin-right: 20px;
  margin-bottom: 20px;
}
/*Media query screen 1000px, I changed most the sizes*/
@media only screen and (max-width: 1000px) {
  header {
    width: 100%;
  }
  /*I align in column the first part*/
  #presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    line-height: 1.8;
  }
  h2 {
    font-size: 20px;
    margin-left: 40px;
    text-align: center;
  }
  .me {
    display: flex;
    flex-direction: column;
  }
  .avatar {
    width: 300px;
    margin-top: 30px;
  }

  .text a {
    margin: 20px auto;
    padding: 10px 30px;
    margin-bottom: 40px;
  }
  .mylife {
    text-align: left;
    margin-left: 50px;
    line-height: 1;
    font-size: 15px;
  }
  .myimage {
    width: 250px;
    margin: 0 auto;
    padding-top: 30px;
  }
  .workp {
    font-size: 20px;
  }

  footer {
    width: 100%;
  }
  .lk,
  .bh,
  .tw,
  .git {
    width: 50px;
  }
}
/*Added media query for mobile phone*/

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  header {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;
  }

  header .logo {
    margin: 20px auto;
  }

  header .headernav {
    margin: 0 auto;
  }
  ul {
    display: flex;
    /* background-color: var(--color); */
    justify-content: center;
  }
  /*Changed the list I added buttons instead*/
  ul li {
    border: 1px solid var(--yellow);
    border-radius: 30px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    display: block;
    color: var(--yellow);
    font-size: 14px;
    background: rgb(208, 143, 15, 0.3);
    width: fit-content;
    text-decoration: none;
    padding: 5px 20px;
  }

  #presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .text {
    margin: 0;
    text-align: center;
  }

  .text h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .text h2 {
    margin: 0;
    padding: 0;
  }

  .text a {
    margin: 20px auto;
  }
  #presentation img {
    width: 100%;
    height: auto;
    max-width: 80vw;
  }

  #work h2 {
    margin: 0 auto;
  }

  .mylife {
    margin: 0 50px;
  }

  .myimage {
    max-width: 200px;
    margin: 0 auto;
    padding-top: 30px;
  }
  /*Changed grid in three rows and one column*/
  .projects-grid {
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "Frontend"
      "cardone"
      "cardtwo";
  }

  .card-main,
  .card-one,
  .card-two {
    width: 90vw;
    margin: 0 auto;
  }
  #aboutme,
  #work,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }

  #aboutme h2,
  footer h2 {
    margin: 50px auto;
  }
}
